/* $Id: status.css,v 1.1 2010/04/28 06:24:18 Administrator Exp $ */

body {
	background-color: #0000ff;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
}

body.mokuji {
	background-color: #ffffff;
	font-family: sans-serif;
	margin: 0px 0px 0px 0px;
}

p.menu {
	color:					#666666;
	background-color:	#e9eeea;
	font-size:			12pt;
	font-weight:		bold;
    text-align:			center;
}

p.sousetsu{
	color:					#666666;
	background-color:	#e9eeea;
	font-size:			12pt;
	font-weight:		bold;
        text-align:		center;
}

a {
	font-size:10pt;
}

a:link {
	color:					#1b6384;
	text-decoration:	underline;
}

a:visited {
	color:					#1b6384;
	text-decoration:	underline;
}

a:hover {
	color:					#3b96bf;
	text-decoration:	none;
}

a:active {
	color:					#1b6384;
	text-decoration:	underline;
}

.link {
	color:			#1b6384;
	font-size:	10pt;
	text-align:	right;
}

.location {
	color: 				#000000;
	background-color: #ff99ff;
	font-size: 			10pt;
	font-weight: 		bold;
	text-align:			center;
	margin-top:			4px;
}
